// UserGuide
.user-guide {
  h2, h3 {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #000;
  }

  ol, ul {
    margin-left: 2rem;
  }

  & {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    width: 80%;
    max-width: 930px;
    margin: 0 auto;
    color: #777;
  }

  ol > li {
    margin: .5rem 0;
  }

  strong {
    font-size: 1.2em;
    color: #333;
  }

  .status-box {
    display: inline-block;
    margin-right: 5px;
    border-radius: 3px;
    padding: 3px 5px;
    color:#fff;
    @each $status, $color in $colors {
      &.#{$status} {
        background-color: $color;
      }
    }
  }



  .status-box.clear {
    border: 1px solid #ccc;
  }

  kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 0 #bbb, 0 -1px 0 #fff;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
  }

}
